<h1>List of all cocktails</h1>
<ul>
<% @cocktails.each do |cocktail| %>
  <li>
    <%= cocktail.name %> <%= link_to "Details", cocktail_path(cocktail) %>
  </li>
<% end %>
</ul>

<p><%= link_to 'Add a new cocktail', new_cocktail_path %></p>

<p><%= link_to 'All doses', doses_path %></p>
